{% extends 'consumption/layout.html' %}

{% block content %}
<!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <div class="container">
        <h2>Electricity Consumption Detail</h2><br><br>
        <div class="text-left">
              <form method="post" action="{% url 'detail' %}">
                {% csrf_token %}
                <h6>{{month_form}} {{area_form}} {{tariff_form}}<input type="submit" value="submit"></h6><br>
              </form>
        </div>
        <div class="row align-items-center">
           <div class="col-4">
               <h1>total<br>{{total_amount}}<br>kWh</h1>
           </div>
           <div class="col-4">
               <h1>ave.<br>{{ave_amount}}<br>kWh/day</h1>
           </div>
           <div class="col-4">
               <h1>{{user_count}} Users</h1><br>
           </div>
       </div>
       <div class="row">
           <div class="col" id="detail">
              <script>
                Highcharts.chart('detail', {{ detail_chart|safe }});
              </script>
           </div>
       </div>
       <div class="row">
           <div class="text-left"><h3>Users</h3></div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>User ID</th>
              <th>Aera</th>
              <th>Tariff</th>
            </tr>
          </thead>
          <tbody>
           {% for user in user_list %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'user_detail' user.pk %}">{{ user.user_id }}</a></td>
              <td>{{ user.area }}</td>
              <td>{{ user.tariff }}</td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
       </div>
    </div>
{% endblock %}